---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!--
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}
//-->

{% include base_path %}

<ul>
  <li> <strong>Amortized Active Learning for Nonparametric Functions.</strong>
    <br/> <strong>Cen-You Li</strong>, Marc Toussaint, Barbara Rakitsch, Christoph Zimmer.
    <br/> ECML-PKDD Workshop: Interactive Adaptive Learning 2024.
    <br/> <a href="https://arxiv.org/abs/2407.17992" class="btn btn--inverse-thin">arXiv</a>
  </li>
  <li> <strong>Global Safe Sequential Learning via Efficient Knowledge Transfer.</strong>
    <br/> <strong>Cen-You Li</strong>, Olaf Duennbier, Marc Toussaint, Barbara Rakitsch, Christoph Zimmer.
    <br/> 
    <br/> <a href="https://arxiv.org/abs/2402.14402" class="btn btn--inverse-thin">arXiv</a>
    <a href="https://github.com/boschresearch/TransferSafeSequentialLearning" class="btn btn--inverse-thin">code</a>
  </li>
  <li> <strong>Learning how to safely explore dynamic systems.</strong>
    <br/> Christoph Zimmer, <strong>Cen-You Li</strong>, Mark Schillinger, Mona Meister, Barbara Rakitsch, Duy Nguyen-Tuong.
    <br/> ICML Workshop: Adaptive Experimental Design and Active Learning in the Real World 2022.
    <br/> <a href="https://realworldml.github.io/files/cr/paper17.pdf" class="btn btn--inverse-thin">pdf</a>
  </li>
  <li> <strong>Safe Active Learning for Multi-Output Gaussian Processes.</strong>
    <br/> <strong>Cen-You Li</strong>, Barbara Rakitsch, Christoph Zimmer.
    <br/> International Conference on Artificial Intelligence and Statistics (<strong>AISTATS</strong>) 2022.
    <br/> <a href="https://proceedings.mlr.press/v151/li22d.html" class="btn btn--inverse-thin">HTML</a>
    <a href="https://arxiv.org/abs/2203.14849" class="btn btn--inverse-thin">arXiv</a>
    <a href="https://github.com/boschresearch/SALMOGP" class="btn btn--inverse-thin">code</a>
  </li>
  <li> <strong>Differential efficacy of genetically swapping gal4.</strong>
    <br/> Ying-Jun Chen, Hao-Hsin Chang, Shih-Han Lin, Tzi-Yang Lin, Ting-Han Wu, Hsin-Ju Lin, Nan-Fu Liou, Chi-Jen Yang, Yuh-Tarng Chen, Kai Hsiang Chang, <strong>Cen-You Li</strong>, and Ya-Hui Chou.
    <br/> Journal of Neurogenetics 2019.
    <br/> <a href="https://doi.org/10.1080/01677063.2018.1564289" class="btn btn--inverse-thin">doi</a>
  </li>
</ul>


<!-- New style rendering if publication categories are defined -->
<!--
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
//-->

