---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

<!--
{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}
//-->

{% include base_path %}

I am re-programming this page, weird style might occur.
{% for post in site.publications reversed %}
  <div class="{{ include.type | default: "list" }}__item">
    <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">

      <h2 class="archive__item-title" itemprop="headline">
        <strong>{{ post.title }}</strong>
      </h2>
      <p>
        {% for author in post.author %}
          {% if author == "__self__" %}<strong>{{site.author.name}}</strong>{% else %}{{author}}
          {% if forloop.last %}{% else %},{% endif %}
          {% endif %}
        {% endfor %}
      </p>
      <p>
      {% if post.venue_highlight %}
      {{ post.venue }} (<strong>{{ post.venue_highlight }}</strong>). {{ post.date | default: "1900-01-01" | date: "%Y" }}.
      {% else %}
      {{ post.venue }}. {{ post.date | default: "1900-01-01" | date: "%Y" }}.
      {% endif %}
      </p>
      <p>
      {% if post.html %}<a href="{{ post.html }}" class="btn btn--inverse-thin" style="text-decoration:none;">HTML</a>{% endif %}
      {% if post.doi %}<a href="{{ post.doi }}" class="btn btn--inverse-thin" style="text-decoration:none;">DOI</a>{% endif %}
      {% if post.arxiv %}<a href="{{ post.arxiv }}" class="btn btn--inverse-thin" style="text-decoration:none;">ARXIV</a>{% endif %}
      {% if post.pdf %}<a href="{{ post.pdf }}" class="btn btn--inverse-thin" style="text-decoration:none;">PDF</a>{% endif %}
      {% if post.code %}<a href="{{ post.code }}" class="btn btn--inverse-thin" style="text-decoration:none;">code</a>{% endif %}
      </p>
    </article>
  </div>
{% endfor %}




<!-- New style rendering if publication categories are defined -->
<!--
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
//-->

